*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.conteiner{
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: rgb(116, 116, 245);
    text-align: center;
    padding: 6px;
}
.title{
    font-size: 28px;
    color: whitesmoke;
}
section{
    padding: 20px;
    background-image: url("../image/meeting-cover-1.jpeg");
    background-size: cover;
    overflow: hidden;
}
.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}
.mb{
    margin-bottom: 15px;
    /* text-align: justify; */
    /* word-spacing: normal; */
}
h2{
    font-size: 18px;
    text-align:center !important;
}
input,select{
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    border: none;
    margin-bottom: 6px;
}
input[type="submit"]{
    color: whitesmoke;
    background-color: rgb(116, 116, 245);  
    font-weight: bold;  
}
footer{
    background-color:#202121 ;
    padding: 40px;
    text-align: center;
}
.picture{
    width: 160px;
}
.description{
    display: inline-block;
    color: white;
    max-width: 40%;
    text-align: justify;
    margin-left: 40px;
}
.description p, .description h3{
    margin-bottom: 20px;
}
.description h3{
    font-size: 24px;
}
