*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
}
.conteiner{
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: rgb(128, 84, 216);
    text-align: center;
    color: white;
    padding: 10px;
}
.title{
    font-size: 26px;
}
section{
    padding: 20px;
    background-image: url("../image/meeting-cover-1.jpeg");
    background-size: cover;
    overflow: hidden;
}
.formcontainer{
    max-width: 230px;
    background-color:rgb(216, 210, 210);
    padding: 20px;
    float: right;
}
.mb{
    margin-bottom: 15px;
    margin-inline-start: initial;
    margin-top: auto;
    text-align: auto;
    text-size-adjust: auto;
}
h2{
    font-size: 16px;
}
input,select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]{
    color:rgb(255, 255, 255);
    background-color:rgb(170, 152, 204);  
    font-weight: bold;  
}
select{
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */
    /* -appearance:none ; */
    /* background-image: url(../image/ico.png); */
    /* background-repeat: no-repeat; */
    /* background-position: cal(100% -10px)center; */
}
footer{
    background-color:#202121 ;
    padding: 40px;
    text-align: center;
}
.picture{
    width: 160px;
}
.description{
    display: inline-block;
    text-align: right;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}
.description p, .description{
    margin-bottom: 20px;
}
.description h3{
    font-size: 24px;
}
