body{
    background-image: url(../image/open_graph_logo.png); 
    background-attachment: fixed;
}

#Título{
    color: blue;
}#Subtítulo{
    color: FireBrick;
}#principal{
    color: black;
}
p{
    text-indent: 1cm;
    text-align: justify;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
}
.links{
    text-decoration-line: none;
    color: red;
    background-color: whitesmoke;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 2px solid red;
}
.links:hover{
    background:red;
    color:white
}
ul{   list-style-type:none;
}
ol{
    list-style-type: none;
}